{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <!-- Columna del formulario -->
    <div class="col-md-6">
        <div class="card card-body">
            <h3>Realizar una asignación</h3>

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="{{ url_for('integration.assign_to_subject') }}" method="POST">
                
                <div class="form-group mt-2">
                    <label for="subject_id">Seleccione una Asignatura:</label>
                    <select name="subject_id" id="subject_id" class="form-control mt-1">
                        <option value="">Seleccione</option>
                        {% for subject in cbxsubjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="competence_id">Seleccione una Competencia de programa:</label>
                    <select name="competence_id" id="competence_id" class="form-control mt-1">
                        <option value="">Seleccione</option>
                        {% for competence in cbxcompetences %}
                            <option value="{{ competence.comp_id }}">{{ competence.comp_description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="teacher_id">Seleccione el docente a asignar:</label>
                    <select name="teacher_id" id="teacher_id" class="form-control mt-1">
                        <option value="">Seleccione</option>
                        {% for teacher in cbxteachers %}
                            <option value="{{ teacher.teId }}">{{ teacher.teName }} {{teacher.teLastName}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="time">Periodo:</label>
                    <input type="text" name="time" id="time" class="form-control mt-1" required> 
                </div>

                <div class="form-group mt-2">
                    <label for="cmp_subject_description">Descripción de la competencia de asignatura</label>
                    <input type="text" name="cmp_subject_description" id="cmp_subject_description" class="form-control mt-1" required> 
                </div>

                <div class="form-group mt-2">
                    <label for="comp_type">Tipo</label>
                    <input type="text" id="comp_type" name="comp_type" class="form-control mt-1" value="Asignatura" readonly>
                </div>

                <div class="form-group mt-2">
                    <label for="lout_sub_description">Descripción RAA</label>
                    <input type="text" id="lout_sub_description" name="lout_sub_description" class="form-control mt-1" required>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>

    <!-- Columna de las tablas -->
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <!-- Tabla de Competencias -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Competencias existentes</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descripción</th>
                                        <th>Tipo</th>
                                        <th>Nivel</th>
                                        <th>ID Competencia Asignatura</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for comp in competences %}
                                    <tr>
                                        <td>{{ comp.comp_id }}</td>
                                        <td>{{ comp.comp_description }}</td>
                                        <td>{{ comp.comp_type }}</td>
                                        <td>{{ comp.comp_level }}</td>
                                        <td>{{ comp.comp_subject_id }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="5">No hay competencias registradas</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <!-- Tabla de RAPs -->
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>RAPs relacionados</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descripción</th>
                                        <!--<td>RA ASIGNATUDA ID</td>-->
                                        <th>Competencia ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for comp in competences %}
                                        {% for rap in comp.programLearningOutcome %}
                                        <tr>
                                            <td>{{ rap.lout_id }}</td>
                                            <td>{{ rap.lout_description }}</td>
                                            <!--<td>{{ rap.lout_subject_id }}</td>-->
                                            <td>{{ rap.comp_id }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="4">No hay RAPs registrados</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de Asignaciones -->
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h3>Asignaciones</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ASIGNATURA</th>
                                <th>DOCENTE DESIGNADO</th>
                                <th>ID COMPETENCIA</th>
                                <th>PERIODO</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for ass in assignments %}
                            <tr>
                                <td>{{ ass.subject_name }}</td>
                                <td>{{ ass.teacher_name}}</td>
                                <td>{{ ass.comp_id}}</td>
                                <td>{{ ass.time}}</td>
                                
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">No hay asignaciones registradas</td>
                            </tr>
                            {% endfor %}

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}
