{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card card-body">
            <h3>Crear nueva competencia</h3>

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="{{ url_for('competence.create_program_competence') }}" method="POST">
                <div class="form-group mt-2">
                    <label for="comp_description">Descripción</label>
                    <input type="text" id="comp_description" name="comp_description" class="form-control mt-1" required>
                </div>
                <div class="form-group mt-2">
                    <label for="comp_type">Tipo</label>
                    <input type="text" id="comp_type" name="comp_type" class="form-control mt-1" value="Programa" readonly>
                </div>
                <div class="form-group mt-2">
                    <label for="comp_level">Nivel</label>
                    <select id="comp_level" name="comp_level" class="form-control mt-1" required>
                        <option value="" selected disabled>Seleccione el tipo de nivel</option>
                        <option value="Basico">Básico</option>
                        <option value="Intermedio">Intermedio</option>
                        <option value="Avanzado">Avanzado</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label for="lout_description">Descripción RAP</label>
                    <input type="text" id="lout_description" name="lout_description" class="form-control mt-1" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Crear</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Tabla de Competencias -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Competencias existentes</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Tipo</th>
                                    <th>Nivel</th>
                                    <th>ID Asignatura</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comp in competences %}
                                <tr>
                                    <td>{{ comp.comp_id }}</td>
                                    <td>{{ comp.comp_description }}</td>
                                    <td>{{ comp.comp_type }}</td>
                                    <td>{{ comp.comp_level }}</td>
                                    <td>{{ comp.comp_subject_id }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="5">No hay competencias registradas</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            <!-- Tabla de RAPs -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>RAPs relacionados</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>RAP ID</th>
                                    <th>Descripción</th>
                                    <th>Asignatura ID</th>
                                    <th>Competencia ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comp in competences %}
                                    {% for rap in comp.programLearningOutcome %}
                                    <tr>
                                        <td>{{ rap.lout_id }}</td>
                                        <td>{{ rap.lout_description }}</td>
                                        <td>{{ rap.lout_subject_id }}</td>
                                        <td>{{ rap.comp_id }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="4">No hay RAPs registrados</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

