{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <!-- Formulario de búsqueda -->
    <div class="col-md-5">
        <div class="card card-body mb-3">
            <h3>Actualizar Competencia</h3>

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="{{ url_for('competence.list_and_search_competences') }}" method="POST">
                <div class="form-group mt-2">
                    <label for="id">ID de la competencia:</label>
                    <input type="number" id="id" name="id" class="form-control mt-1" placeholder="Ingrese el ID de la competencia" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Buscar</button>
            </form>
        </div>
    </div>

    <!-- Tabla de competencias -->
    <div class="col-md-7">
        <h2><b>Lista de Competencias</b></h2>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <th>ID Competencia</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Nivel</th>
                    <th>ID Comp Programa</th>
                </tr>
            </thead>
            <tbody>
                {% for comp in competences %}
                <tr>
                    <td>{{ comp.comp_id }}</td>
                    <td>{{ comp.comp_description }}</td>
                    <td>{{ comp.comp_type }}</td>
                    <td>{{ comp.comp_level }}</td>
                    <td>{{ comp.program_comp_id }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}