{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="{{ url_for('competence.update_competence', comp_id=competence.comp_id) }}" method="POST">

                <div class="form-group mt-2">
                <!-- Descripción de la competencia -->
                    <label for="comp_description">Descripción:</label>
                    <textarea name="comp_description" id="comp_description" class="form-control mt-1" required>{{ competence.comp_description }}</textarea><br>
                </div>

                <div class="form-group mt-2">
                <!-- Tipo de competencia -->
                    <label for="comp_type">Tipo:</label>
                    <input type="text" name="comp_type" id="comp_type" class="form-control mt-1" value="{{ competence.comp_type }}" readonly><br>
                </div>  

                <div class="form-group mt-2">
                <!-- Nivel de competencia -->
                    <label for="comp_level">Nivel:</label>
                    <input type="text" name="comp_level" id="comp_level" class="form-control mt-1" value="{{ competence.comp_level }}"><br>
                </div>

                <div class="form-group mt-2">
                <!-- ID del programa asociado -->
                    <label for="comp_subject_id">ID competencia asignatura:</label>
                    <input type="number" name="comp_subject_id" id="comp_subject_id" class="form-control mt-1" value="{{ competence.comp_subject_id }}" readonly><br>
                </div>

                <button type="submit" class="btn btn-primary">Actualizar Competencia</button>
                <a href="{{ url_for('competence.search_competence') }}" class="btn btn-danger ml-2">Regresar</a>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <!-- Tabla de Competencias-->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Competencias</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descripción</th>
                                        <th>Tipo</th>
                                        <th>Nivel</th>
                                        <th>ID Asignatura</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>{{ competence.comp_id }}</td>
                                        <td>{{ competence.comp_description }}</td>
                                        <td>{{ competence.comp_type }}</td>
                                        <td>{{ competence.comp_level }}</td>
                                        <td>{{ competence.comp_subject_id }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}