{% extends 'layout.html' %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row w-75 justify-content-around">
        <!-- Primera carta -->
        <div class="col-md-5">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/raps.png') }}" 
                    class="card-img-top" 
                    alt="Gestión de Resultados de Aprendizaje" 
                        style="height: 300px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Configuración de Resultados de Aprendizaje</h5>
                    <a href="{{ url_for('integration.search_subcomp') }}" class="btn btn-primary btn-lg mt-3">Configurar Resultados</a>
                </div>
            </div>
        </div>

        <!-- Segunda carta -->
        <div class="col-md-5">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/rubricas.png') }}" 
                    class="card-img-top" 
                    alt="Gestión de Rúbricas" 
                    style="height: 300px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Gestión de Rúbricas</h5>
                    <a href="{{ url_for('teacher.manage_rubrics') }}" class="btn btn-secondary btn-lg mt-3">Gestionar Rúbricas</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
