.navbar{
    background-color: rgb(131, 71, 28); 
}

.navbar-brand {
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente */
    font-size: 20px ;/* Ajusta el tamaño del texto */
    color:cornsilk;
}

.navbar-brand img  {
    align-content: center;
    margin-top: -30px;
    margin-bottom: -30px; /* El texto más pegado al logo */
    margin-right: -10px;
    margin-left: -30px;
}

.navbar-brand span {
    margin-top: -1;
    text-align: left; /* Centra el texto */
    font-size: 35px;
    letter-spacing: 10px;
    line-height: 35px;
}

.navbar-brand:hover{
    color: rgb(194, 165, 113)
}

.container-brand span{

    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente */
    font-size: 60px ;/* Ajusta el tamaño del texto */
    color:cornsilk;
}

.container-brand img{

    align-content: center;
    margin-bottom: -90px;
}

/* Logo y Contenedor */
.container a {
    text-decoration: none;
}

.container a h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    color: cornsilk;
}

/* Card de Inicio de Sesión */
.card {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.card-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
}
