{% extends 'layout.html' %}

{% block body %}

    <h1>View subject</h1>

    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <!-- Tabla de Asignaturas-->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Asignaturas existentes</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Creditos</th>
                                        <th>Objetivos</th>
                                        <th>Semestre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in subjects %}
                                    <tr>
                                        <td>{{ sub.id }}</td>
                                        <td>{{ sub.name }}</td>
                                        <td>{{ sub.credits }}</td>
                                        <td>{{ sub.goals }}</td>
                                        <td>{{ sub.semester }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="5">No hay asignaturas registradas</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}