<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AMS UNICAUCA</title>
        <!-- BOOSTRAP 4 -->
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    </head>

    <body>
        <div class="login-container">
            <!--<h2>Inicio de sesión</h2>
            
            <!-- Mostrar mensaje de error dinámico si es necesario 
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            
        
            <form method="POST">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
        
                <label for="clave">Contraseña:</label>
                <input type="password" id="clave" name="clave" required>
        
                <button type="submit">Iniciar sesión</button>
            </form>-->
        </div>

            <div class="container-fluid">
                <div class="container-fluid text-center">
                    <a class="container-brand d-flex flex-column align-items-center" href="#">
                        <img src="/static/images/unicauca.png" alt="Logo" width="400" height="400" class="d-inline-block">
                        <span>AMS</span>
                        <span>UNICAUCA</span>
                        <!--HOLA PERRAS-->
                    </a>
                </div>
            </div>
        
        

    </body>

</html>