{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <!-- Formulario para crear un nuevo resultado de aprendizaje -->
    <div class="col-md-5">  
        <div class="card card-body">
            <h3>Crear nuevo resultado de aprendizaje</h3>

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="{{ url_for('learning_outcome.create_learning_outcome') }}" method="POST">
                <div class="form-group mt-2">
                    <label for="comp_id">ID Competencia</label>
                    <input type="number" id="comp_id" name="comp_id" class="form-control mt-1" placeholder="Ingrese el ID de la competencia" required>
                </div>

                <div class="form-group mt-2">
                    <label for="lo_description">Descripción</label>
                    <textarea id="lo_description" name="lo_description" class="form-control mt-1" placeholder="Ingrese la descripción" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Crear</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}