{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1 class="my-4">Crear Asignatura</h1>
    <form method="POST" action="{{ url_for('coordinator.create_subject') }}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Asignatura</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Código de la Asignatura</label>
            <input type="text" class="form-control" id="codigo" name="codigo" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear Asignatura</button>
    </form>
</div>
{% endblock %}
